body {
    font-family: 'Gentium Book Plus', serif;
    margin: 0;

}

h1 {
    font-size: 60px;
    padding: 10px;
}

h2 {
    font-size: 40px;
    padding: 10px;
}

.violet {
    color: rgb(42, 5, 145);
}

h3 {
    font-size: 25px;
    padding: 10px;
}

p {
    font-size: 20px;
    padding: 10px;
    text-align: justify;

}

.flexible_container {
    display: flex;
    margin-bottom: 100px;
}

.flexi {
    width: 50%;

}

.flexi img {
    width: 70%;
    padding-top: 27%;
    padding-left: 10%;
}

.link_butt {
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    color: antiquewhite;
    font-weight: 700;
    font-style: oblique;
    padding: 10px 30px;
    border-radius: 5px;
    margin: 10px;
}

.top_banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;


}

.Mydream {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-left: 10px;
    padding-right: 10px;
}

.flexi_box {
    width: 40%;
    margin: 5%;
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: 10px 10px 50px gray;
    text-align: justify;




}

#mlbb {
    border-left: 10px solid blue;
    border-radius: 10px;
}

#coc {
    border-left: 10px solid red;
    border-radius: 10px;

}

.experience {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

footer p {
    text-align: center;
}